# Lecture 02: Simple Mathmatical Operators

## Basic Mathmatical Operations

In [1]:
num1,num2 = 100,200
num3 = num1+num2
print(f'Addition of {num1} and {num2} is ',num1,num2,num3)
num3 = num2-num1
print(f'Substraction of {num2} and {num1} is ',num1,num2,num3)
num3 = num1*num2
print(f'Multiplication of {num1} and {num2} is ',num1,num2,num3)
num3 = num2/num1
print(f'Division of {num2} and {num1} is num3',num1,num2,num3)
num3 = num2//num1
print(f'Module of {num1} and {num2} is ',num1,num2,num3)

Addition of 100 and 200 is  100 200 300
Substraction of 200 and 100 is  100 200 100
Multiplication of 100 and 200 is  100 200 20000
Division of 200 and 100 is num3 100 200 2.0
Module of 100 and 200 is  100 200 2

## Import Math Function to Perform Mathmatical Operations

In [2]:
import math
print(math.pow(3,4))
print(math.sqrt(30))

81.0
5.477225575051661

## Simple Operator Precedence Examples in python

### Python follows PEMDAS rule. PEMDAS stands for Parentheses, Exponents, Multiplication and Division, and Addition and Subtraction.

In [3]:
a, b, c, d = 2, 3, 5, 7

In [4]:
a ** (b + c)

256

In [5]:
a * b ** c

486

In [6]:
a + b * c / d

4.142857142857142

### WAP To Find Number is Greater than 10 or Not

In [7]:
num = int(input('Enter the Number '))

if num < 10:
    print('The Number is Less than 10.')
else :
    print('The Number is Greater than 10')

Enter the Number 120
The Number is Greater than 10

### WAP to Check the number is 10 or Not.

In [8]:
num = int(input('Enter the Number '))
if num < 10:
    print('The Number is Less than 10.')
elif num > 10:
    print('The Number is Greater than 10')
else:
    print('The Number is 10')

Enter the Number 345
The Number is Greater than 10

# For loop and While loop

In [9]:
# For printing 10 numbers we can use range function.
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(0,10,3):   # Here, It will print all the odd numbers spaced by 3.
    print(i)

0
3
6
9

In [11]:
number = 0
while (number<10):
    print(number)
    number=number+1

0
1
2
3
4
5
6
7
8
9

- When a break statement executes inside a loop, control flow "breaks" out of the loop immediately

In [12]:
num = 0
while num <10:
    print(num)
    if num ==5:
        print('Break the Loop')
        break
    num = num+1

0
1
2
3
4
5
Break the Loop

- A continue statement will skip to the next iteration of the loop bypassing the rest of the current block but continuing the loop.

In [13]:
for i in (0, 1, 2, 3, 4, 5):
    if i == 2 or i == 4:
        continue
    print(i)

0
1
3
5

# Important Operations on Python Datatypes

In [14]:
lst = [100,300,500,200,400,600]

- Replication – multiplying an existing list by an integer will produce a larger list consisting of that many copies of the original. This can be useful for example for list initialization

In [15]:
num = lst*3
print(num)

[100, 300, 500, 200, 400, 600, 100, 300, 500, 200, 400, 600, 100, 300, 500, 200, 400, 600]

- Element deletion – it is possible to delete multiple elements in the list using the del keyword.

In [16]:
del lst[-1]
lst

[100, 300, 500, 200, 400]

- reversed function which returns an iterator to the reversed list,Or You can also reverse a list (actually obtaining a copy, the original list is unaffected) by using the slicing syntax, setting the third argument (the step) as -1

In [17]:
num  = [10,9,8,7,6,5,4,3,2,1]
num[::-1]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

- Remove duplicate values in list

In [18]:
names = ["aixk", "duke", "edik", "tofp", "duke"]
list(set(names))

['edik', 'duke', 'tofp', 'aixk']